## Day Objective
- Type casting
- Operators
- Conditional Statements

- "#" symbol is used to make comment in python program

### Type casting of data(converting data into another type)

In [1]:
n1 = 10.7
type(n1)

float

In [3]:
## Convert float data type to integer data type
## by using int()

print(type(n1))
int(n1)

<class 'float'>

10

In [4]:
type(int(n1))

int

In [5]:
## Convert int to float data type
## by float()

float(15)

15.0

In [7]:
print(type(15))
print(type(float(15)))

<class 'int'>
<class 'float'>

In [9]:
print(type('python'))

<class 'str'>

In [12]:
## Convert float or int value to string data type
## by using str()

print(type(240.8))
str(240.8)

<class 'float'>

'240.8'

In [13]:
type(str(240.8))

str

In [15]:
## Convert string value to float or int

s1 = 'Laptop'
print(type(s1))

## try to convert
int(s1)

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Laptop'

### Operators in Python
- Operators are special characters or symbols to perform special task

### Types of operators

#### Arthematic Operators
- +, - ,* ,/, % , ** , //

In [17]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10 % 5)

15
5
50
2.0
0

In [20]:
## floor division operator
print(10 // 5)

print(9 / 2)
print(9 // 2)

2
4.5
4

In [21]:
## power operator
print(2 ** 3)

8

#### Assignment operators
- =, +=, -=, * =, /=, //=, %=, ** =

In [23]:
# " = " is used to assign a value
var1 = 10

In [24]:
# " += " is used to adding and assigning
num1 = 10
print(num1)

10

In [25]:
num1 += 20
print(num1)

30

In [26]:
n1 = 10
n1 -= 5

In [27]:
print(n1)

5

- **Try to do remaining assignment operator**

#### Comparision operators
- ==, !=, >, <, >=, <=

In [29]:
## " == " is used to check both side values are equal or not

print(10 == 10)
print(10 != 10)

True
False

In [30]:
print(100 > 10)
print(10 >= 10)

True
True

In [32]:
print(25 < 55)
print(25 <= 15)

True
False

#### Logical operators
- and, or, not

In [33]:
sireesha = 30000
srikanya = 35000

print(sireesha > 25000 and srikanya > 25000)

True

In [34]:
print(sireesha > 25000 or srikanya < 25000)

True

In [36]:
print(not True)
print(not False)

False
True

#### Special operators
- Identity
- Membership

- **Identity operator**
    - is, is not

In [37]:
mounika = [10,50,30]
sireesha = [10,50,30]

In [38]:
print(mounika == sireesha)
## It is checking both side values are same or not

True

In [39]:
print(mounika is sireesha)
## " is " operator is checking identity of both variables( means variable names are same or not)

False

In [40]:
print(mounika is not sireesha)

True

- **Membership operator**: To check particular member is available or not in group of members
    - in, not in

In [41]:
print('python' in 'python programing language')

True

In [42]:
print('t' in 'python')

True

In [44]:
print('t' not in 'python programing language')

False